<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:annotation-config />

    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" rollback-for="java.lang.Exception"/>
            <tx:method name="create*" rollback-for="java.lang.Exception"/>
            <tx:method name="delete*"/>
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="transactional" expression="execution(* com.govauction.service.*.*(..))" />
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactional"/>
    </aop:config>

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/govauction"/>
        <property name="username" value="root"/>
        <property name="password" value="string"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="lotDao" class="com.govauction.dao.HibernateLotDao"/>
    <bean id="lotOrderDao" class="com.govauction.dao.HibernateLotOrderDao"/>
    <bean id="lotOwnerDao" class="com.govauction.dao.HibernateLotOwnerDao"/>
    <bean id="participantDao" class="com.govauction.dao.HibernateParticipantDao"/>


    <bean id="lotService" class="com.govauction.service.LotServiceImpl">
        <property name="lotDao" ref="lotDao"/>
    </bean>

    <bean id="lotOrderService" class="com.govauction.service.LotOrderServiceImpl">
        <property name="lotOrderDao" ref="lotOrderDao"/>
    </bean>

    <bean id="lotOwnerService" class="com.govauction.service.LotOwnerServiceImpl">
        <property name="lotOwnerDao" ref="lotOwnerDao"/>
    </bean>

    <bean id="participantService" class="com.govauction.service.ParticipantServiceImpl">
        <property name="participantDao" ref="participantDao"/>
    </bean>

    <bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.govauction.model"/>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
                hibernate.show_sql=true
                <!-- uncomment this to create database with hibernate-->
               <!-- hibernate.hbm2ddl.auto=create -->
            </value>
        </property>
    </bean>

</beans>