<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean id="lotDao" class="com.govauction.dao.HibernateLotDao"/>

    <bean id="lotOrderDao" class="com.govauction.dao.HibernateLotOrderDao"/>

    <bean id="lotOwnerDao" class="com.govauction.dao.HibernateLotOwnerDao"/>

    <bean id="participantDao" class="com.govauction.dao.HibernateParticipantDao"/>

    <bean id="lotService" class="com.govauction.service.LotServiceImpl">
      <property name="lotDao" ref="lotDao"/>
    </bean>

    <bean id="lotOrderService" class="com.govauction.service.LotOrderServiceImpl">
        <property name="lotOrderDao" ref="lotOrderDao"/>
    </bean>

    <bean id="lotOwnerService" class="com.govauction.service.LotOwnerServiceImpl">
        <property name="lotOwnerDao" ref="lotOwnerDao"/>
    </bean>

    <bean id="participantService" class="com.govauction.service.ParticipantServiceImpl">
        <property name="participantDao" ref="participantDao"/>
    </bean>

</beans>